.git
.github
.env
.env.*
!.env.example
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite*
tests
phpunit.xml
npm-debug.log
*.log
